<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Test: hello</title>
	<link href="${pageContext.request.contextPath}/resource/css/me.css"
		  rel="stylesheet">
</head>
<body>
	<h1>Hello, world!?</h1>
    <h3><span th:text="${message}"></span></h3>
	<div sec:authorize="isAuthenticated()">
		Authenticated as <span sec:authentication="name"></span></div>
	<script src="${pageContext.request.contextPath}/resource/js/asdf.js" type="javascript"></script>
</body>
</html>