<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-success">
                    Yay! you're now registered
                </div>
            </div>

            <h1>Registration</h1>

            <form th:action="@{/register}" method="post" th:object="${registrationRequestDTO}">
                <div class="form-group row">
                    <label class="control-label" for="name_field">Nama</label>
                    <input id="name_field" type="text"
                           class="form-control" th:field="*{name}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label" for="email_field">Email</label>
                    <input id="email_field" type="text"
                           class="form-control" th:field="*{email}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label" for=password_field>Password</label>
                    <input id="password_field" type="password"
                           class="form-control" th:field="*{password}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label" for=confirm_password_field>Confirm Password</label>
                    <input id="confirm_password_field" type="password"
                           class="form-control" th:field="*{rpassword}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" class="invalid-feedback"></div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Daftar</button>
                    <span>Sudah punya akun? <a href="/" th:href="@{/login}">Masuk di sini</a> </span>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>
